Package: com.iayxify.iayxify
Name: Iayxify
Version: 6.7.0
Architecture: iphoneos-arm
Description: A tweak to get Spotify Premium for free, just like Spotilife
Maintainer: jaydenjcpy
Author: Iayxify
Section: Tweaks
Depends: ${ORION}, firmware (>= 14.0)
